@model UpdatePropertyVM

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AgentArea/Views/Shared/_AgentLayout.cshtml";
}



<form asp-action="Update" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="PropertyNo" />
    <input type="hidden" asp-for="AgentID" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="IsActive" />

    <div class="form-group">
        <label asp-for="PropertyTitle">İlan Başlığı</label>
        <input asp-for="PropertyTitle" class="form-control" />
        <span asp-validation-for="PropertyTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Price</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Area">Price</label>
        <input asp-for="Area" class="form-control" />
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BedroomCount">Area</label>
        <input asp-for="BedroomCount" class="form-control" />
        <span asp-validation-for="BedroomCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BathCount">Area</label>
        <input asp-for="BathCount" class="form-control" />
        <span asp-validation-for="BathCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BalconyCount">Area</label>
        <input asp-for="BalconyCount" class="form-control" />
        <span asp-validation-for="BalconyCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Floor">Area</label>
        <input asp-for="Floor" class="form-control" />
        <span asp-validation-for="Floor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dues">Area</label>
        <input asp-for="Dues" class="form-control" />
        <span asp-validation-for="Dues" class="text-danger"></span>
    </div>

    <div class="form-group">
        <img id="output" class="img-responsive" title="@Html.DisplayFor(modelItem=>modelItem.ImageUrl)" style="border-radius: 10%; height:150px;width:150px" src="~/Images/uploads/@Html.DisplayFor(modelItem => modelItem.ImageUrl)" />
        <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;" asp-for="ImageUrl"></p>
        <p>
            <label for="file" style="border-radius: 25px; margin-top: 5%" class="btn palette-Orange bg btn-lg w-100">
                <a>
                    <i class="zmdi zmdi-camera c-white"></i>
                    <span class="c-white">İlan Resmini Güncelle</span>
                </a>
            </label>
        </p>
    </div>


    <div class="form-group row">
        @foreach (var item in Model.Photos)
        {
            <div class="col-3">
                <div class="col-3 mb-2" data-id="@item.Id">
                    <input type="hidden" class="photoID" value="@item.Id" />
                    <img style="border-radius: 10%; height:150px;" src="~/Images/Uploads/@item.PhotoPath" />
                </div>
                <button class="form-control delete-photo btn btn-outline-danger">Delete</button>
            </div>
        }
    </div>



    <div class="form-check">
        <input class="form-check-input" asp-for="IsInSite">
        <label class="form-check-label" asp-for="IsInSite">
            Site İçinde
        </label>
    </div>
    <div class="form-group">
        <select asp-for="City" asp-items="ViewBag.sehir" class="form-select my-4" id="sehir">
            <option value="">Şehir Seçiniz</option>
        </select>
        <select asp-for="County" class="form-select my-4" id="ilce">
            <option value="">İlçe Seçiniz</option>
        </select>
        <select id="mahalle" class="form-select my-4" asp-for="District">
            <option value="">Mahalle Seçiniz</option>
        </select>
    </div>

    <div class="mb-3">
        <select asp-for="CategoryID" asp-items="@ViewBag.category" class="form-select">
            <option value="">Kategori Seçiniz</option>
        </select>
    </div>
    <div class="mb-3">
        <select asp-for="PropertyStatusID" asp-items="@ViewBag.status" class="form-select">
            <option value="">İlan Türü Seçiniz</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

@section Scripts {

    <script>


        $(document).ready(function () {
         
            var preselectedCity = "@Model.City";
            if (preselectedCity) {
                $("#sehir").val(preselectedCity);  
                loadCounties(preselectedCity, "@Model.County");
            }

            $("#sehir").change(function () {
                loadCounties($(this).val());
            });

            $("#ilce").change(function () {
                loadDistricts($(this).val());
            });
        });

        function loadCounties(cityKey, preselectedCounty) {
            $.getJSON(`../GetIlce?sehirKey=${cityKey}`, function (data) {
                var items = "<option value=''>İlçe Seçiniz</option>";

                $.each(data, function (i, ilce) {
                    var isSelected = ilce.ilce_key == preselectedCounty ? "selected" : "";
                    items += `<option value="${ilce.ilce_key}" ${isSelected}>${ilce.ilce_title}</option>`;
                });

                $("#ilce").html(items);

                if (preselectedCounty) {
                 
                    loadDistricts(preselectedCounty, "@Model.District");
                }
            });
        }

        function loadDistricts(countyKey, preselectedDistrict) {
            $.getJSON(`../GetMahalle?ilceKey=${countyKey}`, function (data) {
                var items = "<option value=''>Mahalle Seçiniz</option>";

                $.each(data, function (i, mahalle) {
                    var isSelected = mahalle.mahalle_key == preselectedDistrict ? "selected" : "";
                    items += `<option value="${mahalle.mahalle_key}" ${isSelected}>${mahalle.mahalle_title}</option>`;
                });

                $("#mahalle").html(items);
            });
        }

    </script>





   @* <script>
        $(document).ready(function () {
            $("#sehir").change(function () {
                var sehirKey = $(this).val();
                console.log("deneme")
                $.getJSON(`../GetIlce?sehirKey=${sehirKey}`, function (data) {
                    var items = "";
                    $.each(data, function (i, ilce) {
                        items += `<option value="${ilce.ilce_key}">${ilce.ilce_title}</option>`;
                    });
                    $("#ilce").html(items);
                });
            });

            $("#ilce").change(function () {
                var ilceKey = $(this).val();
                $.getJSON(`../GetMahalle?ilceKey=${ilceKey}`, function (data) {
                    var items = "";
                    $.each(data, function (i, mahalle) {
                        items += `<option value="${mahalle.mahalle_key}">${mahalle.mahalle_title}</option>`;
                    });
                    $("#mahalle").html(items);
                });
            });
        });
    </script>*@

    <script>
        $(document).ready(function () {
            $('.delete-photo').click(function (e) {
                e.preventDefault();

                var id = $(this).closest('.col-3').find('.photoID').val();

                $.ajax({
                    url: '../DeletePhoto/' + id,
                    type: 'POST',
                    success: function (response) {
                        window.location.reload();
                    }
                });
            });
        });


                                //$(document).ready(function () {
                                //    $('.delete-photo').click(function (e) {
                                //        e.preventDefault();

                                //        var idVM = {
                                //            id: $(this).closest('.col-3').find('.photoID').val()
                                //        };
                                //        console.log(idVM)

                                //        $.ajax({
                                //            url: '../DeletePhoto',
                                //            type: 'POST',
                                //            dataType: 'json',
                                //            data: JSON.stringify(id: $(this).closest('.col-3').find('.photoID').val()),
                                //            contentType: 'application/json',
                                //            success: function (response) {
                                //                //window.location.href = response.redirectToUrl;
                                //            }
                                //        });
                                //    });
                                //});
    </script>
    }

