@model RealEstate.UI.Models.PropListVM;
@{
    ViewData["Title"] = "PropertyDetails";
    Layout = "~/Areas/CustomerArea/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Real Space a Real Estates and Builders Category Flat Bootstrap Responsive Website Template | Agent in Sidebar Variation :: w3layouts </title>
    <!---css--->
    <link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/popuo-box.css" rel='stylesheet' type='text/css' />
    <!---css--->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Real Space Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!---js--->
    <script src="~/web/js/jquery-1.11.1.min.js"></script>
    <script src="~/web/js/bootstrap.js"></script>
    <!---js--->
    <!---fonts-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <!---fonts-->
    <!-- FlexSlider -->
    <script src="~/web/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/web/css/flexslider.css" type="text/css" media="screen" />
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <style>
        .gallery {
            width: 100%;
            position: relative;
        }

        .main-image {
            width: 100%;
            margin-bottom: 20px;
        }

            .main-image img {
                width: 100%;
                height: 500px;
                display: block;
            }

        .thumbnails {
            display: flex;
            overflow-x: auto;
            gap: 10px;
        }

        .thumb {
            flex-shrink: 0;
            width: 80px;
            height: 80px;
            cursor: pointer;
        }

            .thumb img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

    </style>
    <style>
        .star-btn {
            background: none;
            border: none;
            color: #ccc;
            font-size: 24px;
            cursor: pointer;
            transition: color 0.3s;
        }

            .star-btn:hover,
            .star-btn.active {
                color: gold;
            }

    </style>

    <!-- //FlexSlider-->
</head>
<body>
    <!---banner--->
    <div class="banner-section">
        <div class="container">
            <h2>İlanlar -> @Model.PropertyTitle</h2>
        </div>
    </div>
    <!---banner--->
    <div class="content">
        <div class="properties-section">
            <div class="container">
                <div class="properties-grids">
                    <div class="col-md-9 properties-left">
                        <div class="gallery">
                            <div class="main-image">
                                <img id="primaryImage" src="/Images/Uploads/@Model.ImageUrl" class="img-responsive">
                            </div>
                            <div class="thumbnails">
                                @foreach (var item in Model.Photos)
                                {
                                    <div class="thumb">
                                        <img src="/Images/Uploads/@item.PhotoPath" class="img-responsive" data-large="/Images/Uploads/@item.PhotoPath">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="properties-details">
                            <div class="col-md-2 properties-detail">
                                <h5> Alan <span>@Model.Area m²</span></h5>
                            </div>
                            <div class="col-md-2 properties-detail">
                                <h5> Banyo Sayısı <span>@Model.BathCount</span></h5>
                            </div>
                            <div class="col-md-2 properties-detail">
                                <h5> Oda Sayısı <span>@Model.BedroomCount</span></h5>
                            </div>
                            <div class="col-md-2 properties-detail">
                                <h5> Şehir <span>@Model.City</span></h5>
                            </div>
                            <div class="col-md-2 properties-detail">
                                <a href="javascript:window.print()"> Yazdır</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>


                        <div class="additional-details">
                            <h3>İlan Detayları</h3>
                            <ul>
                                <li><span>Şehir</span> : @Model.City </li>
                                <li><span>İlçe</span> : @Model.County </li>
                                <li><span>Mahalle</span> : @Model.District </li>
                                <li><span>Bulunduğu Kat</span> :  @Model.Floor </li>
                                <li><span>Oda Sayısı</span> : @Model.BedroomCount </li>
                                <li><span>Banyo Sayısı</span> : @Model.BathCount </li>
                                <li><span>Balkon Sayısı</span> :  @Model.BalconyCount </li>
                                <li>
                                    <span>Site İçerisinde :</span>
                                    @if (@Model.IsInSite)
                                    {
                                        <span>Evet</span>
                                    }
                                    else
                                    {
                                        <span>Hayır</span>
                                    }
                                </li>
                                <li><span>Aidat Fiyatı</span> : @Model.Dues ₺</li>
                                <li><span>İlan Fiyatı</span> :  @Model.Price ₺</li>
                            </ul>
                        </div>
                        <br />
                        <h3>İlan Açıklaması</h3>
                        <p>@Model.Description</p>

                        <!--fea-video-->
                        @await Component.InvokeAsync("_CustomerPropertyDetailSimilarPropsPartial")

                    </div>
                    <div class="col-md-3 properties-right">
                        <div class="properties-top">
                            <h4>@Model.Agent.Name @Model.Agent.Surname</h4>
                            <img src="/Images/Uploads/@Model.Agent.ImageUrl" class="img-responsive" alt="" />
                            <ul class="">
                                <li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> Telefon : @Model.Agent.PhoneNumber
                                <li>
                                <li><i class="glyphicon glyphicon-mail" aria-hidden="true"></i> E-Mail : @Model.Agent.Email</li>
                            </ul>
                            <p>Sizin için burdayız...</p>
                            <br />
                            <div class="send-message">
                                <h5>Mesaj Gönderin</h5>
                                <form>
                                    <input type="text" placeholder="İsim">
                                    <input type="text" class="mail" placeholder="E-mail">
                                    <textarea placeholder="Mesaj"></textarea>
                                    <input type="submit" value="Gönder">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>

<script>
    $(document).ready(function () {
        $('.thumbnails .thumb img').on('click', function () {
            const largeImageURL = $(this).data('large');
            $('#primaryImage').attr('src', largeImageURL);
        });
    });
</script>

